on init

	export PATH /sbin:/system/bin

	export ANDROID_ROOT /system

	mkdir /system
	mkdir /data
	mount tmpfs nodev /tmp

	insmod /lib/modules/fsr.ko
	insmod /lib/modules/fsr_stl.ko
	insmod /lib/modules/rfs_glue.ko
	insmod /lib/modules/rfs_fat.ko
 
	insmod /lib/modules/param.ko 
	insmod /lib/modules/vibrator.ko
 
  	mount rfs /dev/block/stl9 /system check=no
	mount rfs /dev/block/mmcblk0p2 /data nosuid nodev check=no

	mkdir /data/log 0777
	mkdir /data/anr 0777

	chmod 0666 /dev/log/radio
	chmod 0666 /dev/log/main
	chmod 0666 /dev/log/event    

on boot
#	write /sys/class/sec/switch/usb_sel PDA

	ifup lo
	hostname localhost
	domainname localdomain

	class_start default

service debuggerd /system/bin/debuggerd

#service console /bin/sh
service console /system/bin/sh
	console

service playlpm /system/bin/playlpm
    	user root

service immvibed /system/bin/immvibed 
	oneshot

service lpmkey /system/bin/charging_mode
    	user root
