#
# Optical Sensor Configuration
#



config OPTICAL                                                              
	bool "Optical Sensor"
	default n
	help
	This option enables proximity & light sensors  
	   

config OPTICAL_GP2A
	depends on OPTICAL
	tristate "GP2A driver for s5pc110"
	default y
	help
	  This option enables proximity & light sensors using gp2a driver.
	  It is optimized for s3c6410.
	  

if OPTICAL_GP2A

config OPTICAL_GP2A_ATLAS

        tristate "Select Atlas optical Sensor"
        depends on OPTICAL
        help
        Atlas optical sensor

config  OPTICAL_GP2A_VICTORY
        tristate "select Victory optical Sensor"
        depends on OPTICAL
        help
        Victory optical sensor
endif
