#
#
#

menuconfig SAMSUNG_PHONE_SVNET
	tristate "Samsung Phone Interface - SVN"
	default n
	---help---
		I love you.
config SAMSUNG_PHONE_SVNET_VICTORY
	tristate "Samsung Phone Interface - SVN for victory"
	depends on SAMSUNG_PHONE_SVNET
config SAMSUNG_PHONE_SVNET_ATLAS
	tristate "Samsung Phone Interface - SVN for atlas"
	depends on SAMSUNG_PHONE_SVNET
if SAMSUNG_PHONE_SVNET

menuconfig PHONE_MODEMCTL 
	tristate "Modem Control"
	depends on SAMSUNG_PHONE_SVNET
	default m
	help
	  Say Y to enable Modem Control support.

menuconfig PHONE_ONEDRAM
	tristate "OneDRAM"
	depends on SAMSUNG_PHONE_SVNET
	default m
	help
	  Say Y to enable OneDRAM Interface support.

menuconfig PHONE_SVNET
	tristate "Samsung Virtual Network"
	depends on SAMSUNG_PHONE_SVNET
	default m
	help
	  Say Y to enable Samsung Virtual Network support

endif # SAMSUNG_PHONE_SVNET
