#
# MAGNETIC Sensor Configuration
#

config COMPASS
	bool "Sensors"
	default n
	help
	  This option enables sensors


config COMPASS_YAMAHA
	depends on COMPASS
	tristate "YAMAHA"
	default y
	help
	  This option enables magnetic sensors using YAMAHA driver.
	  It is optimized for s3c6410.


if COMPASS_YAMAHA

config COMPASS_YAMAHA_ATLAS
        tristate "Atlas yamaha sensor"
        depends on COMPASS
        help
        Atlas yamaha sensor

config  COMPASS_YAMAHA_VICTORY

        tristate "Victory yamaha sensor"
        depends on COMPASS
        help
         Victory yamaha sensor
endif


